{% extends "layout.twig" %}

{% block content %}
<h2>Logview</h2>
<table>
	<tr>
		<th>Logfile</th>
		<th>Last Modified</th>
		<th>Size</th>
	</tr>
	{% for file, info in files %}
	<tr>
		<td><a href="/files/{{ file }}">{{ file }}</a></td>
		<td>{{ info.mtime|date("M j, Y H:i:s") }}</td>
		<td>{{ info.size|bytesize }}</td>
	</tr>
	{% endfor %}
</ul>
{% endblock %}
